body {
  background: linear-gradient(90deg, #d8d4ce, #ebe6df, #f4f1ec, #e8ebf3);
  color: #3f3f3f;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
  color:#5a5652;
}
a {
  margin-left: 10px;
  text-decoration: none;
}

#social-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-left: 15px;
  padding: 0;
}

.logos {
  display: flex;
  align-items: center;
}

h2,
h3 {
  text-decoration: underline;
}

h1 {
  text-decoration: underline;
}

.introduction-container {
  display: flex;
  justify-content: space-between;
}

li {
  line-height: 30px;
}

thead{
    background-color: #3f3f3f;
    color: #e8ebf3;
}

tbody{
    background-color: #ffffff;
    color:black;
    font-weight:bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.contact-us{
    color: rgb(94, 94, 245);
}

.contact-us b{
    color: #3f3f3f;
}